.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 900;
}

.controls {
  @include mantine.smaller-than(mantine.$mantine-breakpoint-xs) {
    flex-direction: column-reverse;
  }
}

.control {
  @include mantine.smaller-than(mantine.$mantine-breakpoint-xs) {
    width: 100%;
    text-align: center;
  }
}
